
<html>
	<head>
		<title>
			Mayné González's Blog
		</title>
		<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav> 
				<ul>
					<li>Home</li>
					<li>About me</li>
					<li><button>Resource</button></li>
			
				</ul>
			</nav>
		
		</header>
		
		<section>
			
			<div>
					
				<h1><a href="https://djangogirls.org"> Dejango Girls Workshop</a></h1>
			</div>
			
			<article>
				<p>published: 18.02.2017,3:17 a.m</p>
				
				<h2><a href="#"><em>Quienes inspiran a las mujeres a enamorarse de la programación!</em></a></h2>
			
			
				<p>El pasado 17 de febrero de 2017, paricipé de un taller del  framework para Python, Django. Una muy buena experiencia para los que participamos.</p>
		
				<p>La reunión fue muy acogedora, relajante y sobre todo de mucho aprendizaje. Especialmente con las galletas de chocolate Tin-Tam,¡riquísimas!, demás, si las muerdes por sus esquinas podrás utilizarla como un sorbeto para tu café...mmm, me encantó. </p>
				<p> Comparti la mesa de trabajo con 2 integrantes de <a href="#">Include Girls</a> junto a nuestra mentora <strong>Sacha</strong>, una muchacha muy atenta a nuestras necesidades. Ella fue de gran ayuda en aquellos pequeños errores del editor de Atom... en especial con el símbolo de caret 'ˆ'. Que odisea con ese caracter!! ... descubrimos que en al usar este caracter con el lenguaje "us-international-pc en la Mac, el símbolo en mucho más pequeño que el que necesitaba en el código,  ('^'...'ˆ') ¡Que diferencia!. </p>
				<p>El taller comenzó como a las 9:30 am y terminó a las 5:00 pm,  pasamos un buen tiempo . El trato de los integrantes, el networking, la comida y las facilidades de <em>Engine-4</em> en Bayamón estuvo de primera.  <p> Durante el taller tuvimos la visita del alcalde de Bayamón, el <strong><em> Hon. Ramón L. Rivera</em></strong>, como siempre lo hace en estas actividades de tecnología que se llevan a cabo en su municipio y principalmente en Engine-4. El alcalde conversó un rato con nosotros acerca de nuestro aprendizaje en el taller y la interrogante acerca de cuáles <em>lenguajes de programación</em> nuestras universidades del país  ofrecen. ¡Gracias alcalde por su iterracción!. </p>
				<p> El equipo de Django Girl nos regalarón una camiseta y la entrada gratuita para el envento de PyCarribean que se llevará a cabo en Engine-4 los días<strong> 18 y 19 de febrero de 2017</strong>.  Esperamos poder participar y al igual que hoy, poder explorar, aprender y compartir la tecnología.</p>
		
				<p>Gracias por la oportunidad.</p>
		</article>
		
		<article>
			<p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
			
		</article>
	</section>
	<footer>
		<p>&lt;Mayné González Osorio 2017&gt;</p>
	</footer>
	</body>
</html>